<h2>lärostigar</h2>

<div class="item-grid">
    {{#each learningPaths}}
    <article class="item">
        <div>
            <h3><b>{{title}}</b></h3>
            <p>Uppskattad tid<i>{{estimatedHours}}</i></p>
            <p><i>{{description}}</i></p>


            <ol>
                {{#each steps}}
                <li>{{this}}</li>
                {{/each}}
            </ol>
        </div>
    </article>
    {{/each}}
</div>
